### age=32
print("My age is:",age)

In [2]:
## format()
name="aayush"
age=21
print("My name is {} and age is {}".format(name,age))

My name is aayush and age is 21

In [4]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is aayush and age is 21

In [6]:
name="aayush"
age=21
degree="B.tech"

##"My age is 21 and i have completed my degree of B.tech with the name of aayush.
print("My age is {} and i have completed my degree of {} with the name of {}".format(age,degree,name))

My age is 21 and i have completed my degree of B.tech with the name of aayush

In [ ]:
## control flow
### decision making statements
*

In [7]:
## If statement
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [ ]:
==,>=,<=

In [8]:
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [9]:
18<=18

True

In [10]:
input()

 aayush srivastava

'aayush srivastava'

In [11]:
name=input("Enter the name")

Enter the name Aayush Srivastava

In [12]:
name

'Aayush Srivastava'

In [13]:
age=int(input("Enter your age"))

Enter your age 32

In [14]:
age

32

In [15]:
type(age)

int

In [ ]:
##task
## take a input of age
## check whether age>= and age<=45
## display a message you are young blood

In [17]:
age=int(input("enter the age"))
if age>=18 and age<=45:
    print("you are young blood")

enter the age 22

you are young blood

In [19]:
22>=18 and 22<=45

True

In [18]:
22<=45

True

In [ ]:
## mall - input the product price
## product >1000rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [22]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price 9784025844

the price of the product is 7827220675.200001

In [ ]:
## mall - input the product price
## product >3000rs 20% off
## print the product price after removing the discount
## product >=2000 rs and <=3000 rs 30% off
## print the product price after removing the discount
## product >=1000 rs and <=2000 40% off
## print the product price after removing the discount

In [30]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("the price of the product is {}".format(product_price*0.8))
elif product_price<=3000 and product_price>=2000:
    print("the price of the product is {}".format(product_price*0.7)) 
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price 2500

the price of the product is 1750.0

In [31]:
#comparison operator
True==True

True

In [34]:
## Single statement
val=int(input('enter the number'))
if(val<=999):print("value is less than equal to 999")
else:
    print("akshat bhosdiwala")

enter the number 1200

akshat bhosdiwala

## loop statements
1. while loop
2. for loop
3. nested loops
4. loop control(break,continue,pass)

In [36]:
# while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time for retirement

In [42]:
### atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
      print(total_amount)
      total_amount=total_amount-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

# FOR LOOP

In [46]:
lst=["Aayush",1,2,3,4,"apple","banana"]

In [47]:
type(lst)

list

In [48]:
lst[4]

4

In [49]:
for x in lst:
    print(x)

Aayush
1
2
3
4
apple
banana

In [51]:
fruits_list=["mango","cherry","apple","papaya","banana"]

In [53]:
for a in fruits_list:
    print(a)
    if a=="cherry":
        print("the fruit is cherry")

mango
cherry
the fruit is cherry
apple
papaya
banana

In [ ]:
for a in fruits_list:
    print(a,end
    if a=="cherry":
        print("the fruit is cherry")

In [55]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [67]:
### Nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

In [58]:
for i in range(1,6,2):
    print(i)

1
3
5

In [68]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******